
.scrollpane-style {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.scrollpane-style .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.scrollpane-style:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.scrollpane-style:focused {
    -fx-highlight-fill: #7ecfff;
}

.section-title {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-background-color: #AAAAAA;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-border-color: black;
}

.vbox {
    -fx-background-color: #FF9900;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}
